@font-face {
    font-family: "Early GameBoy";
    src: url("../batalla/fonts/Early-GameBoy.ttf")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Early GameBoy", Arial, Helvetica, sans-serif;
    --gray: rgb(184, 184, 184);
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../batalla/img/fondo6.jpg');
    background-size: cover;          
    background-repeat: no-repeat;     
    background-position: center;
}

.pokemon-list {
    display: inline-block;
    margin: 30px 10px 20px;
    width: 300px;
    height: 40px;
    outline: none;
    border-radius: 20px;
}

.list-button {
    padding: 9px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.box {
    background-image: url('../batalla/img/background1.png');
    background-size: cover;          
    background-repeat: no-repeat;      
    background-position: center; 
    display: block;
    position: relative;
    width: 800px;
    height: 600px;
    border: 1px solid var(--gray);
    overflow: hidden;
    background-color: rgb(27, 21, 61);
}

.pokemon {
    position: absolute;
    transition: 1s;
}

.pokemon.J {
    visibility: visible;
    width: 50%;
    top:38%;
}

.pokemon.M {
    visibility: visible;
    width: 40%;
    left: 60%;
    cursor: pointer;
}

.pokemon.J.hidden {
    margin-left: -500%;
}

.pokemon.M.hidden {
    margin-left: 500%;
}

.stats-box {
    position: absolute;
    border: double 5px var(--gray);
    border-radius: 7px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color:rgb(237, 237, 226)
}

.stats-M {
    visibility: hidden;
    top: 10%;
    left: 10%;
    width: 32%;
    padding-bottom: 1%;
}

.stats-J {
    visibility: hidden;
    bottom: 10%;
    right: 10%;
    width: 32%;
}

.name {
    font-size: 1rem;
    display: inline-block;
    margin-top: 4%;
    margin-left: 6%;
}

.hp-bar {
    width: 60%;
    height: 20px;
    margin-left: 24%;
}

.hp-container {
    margin-left:50%;
}

.leyenda {
    margin-top: 10px;
    width: 800px;
    text-align: center;
    word-wrap: break-word;
    max-width: 100%;
}

.dialogo {
    display: inline-block;
    color: white;
}

.dialogo.J {
    margin-top: 20%;
    margin-left: 47%;
}

.dialogo.M {
    margin-top: 170px;
    margin-left: 53%;
}

#span-dialogM, #span-dialogJ {
    display: inline-block;
    transition: margin .1s;
    margin-top: 40px;
}

.mensaje-final {
    position: absolute;
    width: 100%;
    font-size: 3em;
    text-align: center;
    top: 45%;
    color: white;

}

.header-image {
    width: 680px;
    display: block;
    margin: 0 auto;
    height: 250px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.action-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#attack-button, #heal-button, #back-button {
    display: none;
}

.visible {
    display: inline-block;
}

.reglas {
    background-color: white;
    border-radius: 50px;
    text-align: center;
    margin-top: 2rem;
    width: 800px;
}

.reglas p {
    font-size: small;
}

.aviso {
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.elegir {
    background-color: white;
    border-radius: 50px;
    text-align: center;
    margin-top: 2rem;
    width: 400px;
    height: auto;
    padding: 20px;
}

.elegir h4 {
    margin: 20px 0;
}